In [13]:
import pandas as pd
import numpy as np
from calculator import *

In [23]:
arsenic = pd.read_csv("arsenic.csv")
copper = pd.read_csv("copper.csv")
sulfate = pd.read_csv("sulfate.csv")
boran = pd.read_csv("boran.csv")
chloride = pd.read_csv("chloride.csv")
molybdenum = pd.read_csv("molybdenum.csv")
vanadium = pd.read_csv("vanadium.csv")
# uranium = pd.read_csv("uranium.csv")

In [24]:
arsenic_df = pre_process(arsenic,[0,2,6,10e10],["zero_arsenic","moderate_arsenic",'high_arsenic'])
copper_df = pre_process(copper,[0,2.5,10,10e10],["zero_copper","moderate_copper",'high_copper'])
sulfate_df = pre_process(sulfate,[0,40,300,10e10],["zero_sulfate","moderate_sulfate",'high_sulfate'])
boran_df = pre_process(boran,[0,300,1500,10e10],["zero_boran","moderate_boran",'high_boran'])
chloride_df = pre_process(chloride,[0,80,400,10e10],["zero_chloride","moderate_chloride",'high_chloride'])
molybdenum_df = pre_process(molybdenum,[0,2,10,10e10],["zero_molybdenum","moderate_molybdenum",'high_molybdenum'])
vanadium_df = pre_process(vanadium,[0,2.5,10,10e10],["zero_vanadium","moderate_vanadium",'high_vanadium'])

In [25]:
typess = [["zero_arsenic","moderate_arsenic",'high_arsenic'],["zero_copper","moderate_copper",'high_copper'],\
         ["zero_sulfate","moderate_sulfate",'high_sulfate'],["zero_boran","moderate_boran",'high_boran'],\
         ["zero_chloride","moderate_chloride",'high_chloride'],["zero_molybdenum","moderate_molybdenum",'high_molybdenum'],\
         ["zero_vanadium","moderate_vanadium",'high_vanadium']]
l = [arsenic_df,copper_df,sulfate_df,boran_df,chloride_df,molybdenum_df,vanadium_df]

In [26]:
    df = copper_df
    df['year'] =  df['Date']/10000
    df['year'] = df['year'].astype('int')
    df = df[df['year']==2002]
    date1 = df['Date']
    
    df = vanadium_df
    df['year'] =  df['Date']/10000
    df['year'] = df['year'].astype('int')
    df = df[df['year']==2002]
    date2 = df['Date']
    
    dates = np.intersect1d(date1,date2)

In [27]:
sum_vec=[]
for i in range(len(l)):
    l[i] = vectorize(l[i],typess[i],dates=dates)
    if i==0:
        sum_vec = l[0]
    if i>=1:
        sum_vec = add_vectorization(sum_vec,l[i])

In [29]:
## todo 
## sum_vec is a list of dataframe with len 92
## i-th dataframe contains all the objects on date i
sum_vec[1]

                 type          x          y
0    moderate_arsenic -94.646667  31.386945
1    moderate_arsenic -94.726944  31.398889
2    moderate_arsenic -94.670556  31.438611
3    moderate_arsenic -94.616112  31.718889
4    moderate_arsenic -94.840000  31.815001
5    moderate_arsenic -94.552501  31.779444
6    moderate_arsenic -94.665001  31.763889
7     moderate_copper -94.646667  31.386945
8     moderate_copper -94.616112  31.718889
9         zero_copper -94.840000  31.815001
10        zero_copper -94.552501  31.779444
11    moderate_copper -94.665001  31.763889
12    moderate_copper -94.726944  31.398889
13        zero_copper -94.670556  31.438611
14       zero_sulfate -94.665001  31.763889
15   moderate_sulfate -94.646667  31.386945
16       zero_sulfate -94.616112  31.718889
17       zero_sulfate -94.552501  31.779444
18       zero_sulfate -94.840000  31.815001
19   moderate_sulfate -94.726944  31.398889
20       zero_sulfate -94.670556  31.438611
21         zero_boran -94.670556  31.438611
22     moderate_boran -94.616112  31.718889
23         zero_boran -94.552501  31.779444
24     moderate_boran -94.726944  31.398889
25     moderate_boran -94.840000  31.815001
26     moderate_boran -94.646667  31.386945
27         zero_boran -94.665001  31.763889
28      zero_chloride -94.665001  31.763889
29      zero_chloride -94.646667  31.386945
30      zero_chloride -94.616112  31.718889
31      zero_chloride -94.552501  31.779444
32      zero_chloride -94.840000  31.815001
33      zero_chloride -94.726944  31.398889
34      zero_chloride -94.670556  31.438611
35    zero_molybdenum -94.665001  31.763889
36    zero_molybdenum -94.552501  31.779444
37    zero_molybdenum -94.670556  31.438611
38    zero_molybdenum -94.726944  31.398889
39    zero_molybdenum -94.646667  31.386945
40    zero_molybdenum -94.616112  31.718889
41    zero_molybdenum -94.840000  31.815001
42      zero_vanadium -94.646667  31.386945
43      zero_vanadium -94.840000  31.815001
44      zero_vanadium -94.665001  31.763889
45      zero_vanadium -94.670556  31.438611
46      zero_vanadium -94.616112  31.718889
47  moderate_vanadium -94.552501  31.779444
48      zero_vanadium -94.726944  31.398889