In [1]:
import pandas as pd
import numpy as np
from calculator import *

In [14]:
arsenic = pd.read_csv("arsenic.csv")
copper = pd.read_csv("copper.csv")
sulfate = pd.read_csv("sulfate.csv")
boran = pd.read_csv("boran.csv")
chloride = pd.read_csv("chloride.csv")
molybdenum = pd.read_csv("molybdenum.csv")
vanadium = pd.read_csv("vanadium.csv")
# uranium = pd.read_csv("uranium.csv")

In [46]:
l = [arsenic,copper,sulfate,boran,chloride,molybdenum,vanadium]

In [55]:
common = list()
r = list(range(len(l)))
for i in range(len(l)-1):
    j = i+1
    df = pre_process(l[i],[0,2.5,10,10e10],["zero","moderate",'high'])
    df['year'] =  df['Date']/10000
    df['year'] = df['year'].astype('int')
    df = df[df['year']==2002]
    date1 = df['Date']
    
    df = pre_process(l[j],[0,2.5,10,10e10],["zero","moderate",'high'])
    df['year'] =  df['Date']/10000
    df['year'] = df['year'].astype('int')
    df = df[df['year']==2002]
    date2 = df['Date']
    
    common.append(len(np.intersect1d(date1,date2)))

In [56]:
common

[93, 92, 92, 92, 92, 92]

In [3]:
df = pre_process(vanadium,[0,2.5,10,10e10],["zero","moderate",'high'])

In [4]:
haha = vectorize(df,["zero","moderate",'high'])

TypeError: 'NoneType' object is not iterable

In [5]:
len(haha)

NameError: name 'haha' is not defined

In [15]:
arsenic.head()

,StateWellNumber,County,AquiferCode,WellDepth,Date,Time,SampleNumber,EntityId,LabId,ReliabilityId,CollectionRemarks,LatitudeDD,LongitudeDD,ParameterCode,ParameterDescription,ParameterFlag,ParameterValue,ParameterUnit,PlusMinus
0,5846410,Bastrop,124SMBR,45.0,9/3/1980,NaN,1.0,3.0,2.0,13.0,,30.303056,-97.347778,1000.0,"ARSENIC, DISSOLVED (UG/L AS AS)",NaN,0.0,ug/L,NaN
1,5846502,Bastrop,124SMBR,177.0,9/3/1980,NaN,1.0,3.0,2.0,13.0,,30.328889,-97.309445,1000.0,"ARSENIC, DISSOLVED (UG/L AS AS)",NaN,1.0,ug/L,NaN
2,5846515,Bastrop,124HOOP,505.0,9/3/1980,NaN,1.0,3.0,2.0,13.0,,30.321667,-97.313889,1000.0,"ARSENIC, DISSOLVED (UG/L AS AS)",NaN,0.0,ug/L,NaN
3,5854103,Bastrop,124SMBR,152.0,9/3/1980,NaN,1.0,3.0,2.0,13.0,,30.249722,-97.346667,1000.0,"ARSENIC, DISSOLVED (UG/L AS AS)",NaN,0.0,ug/L,NaN
4,5854302,Bastrop,124SMBR,500.0,9/3/1980,NaN,1.0,3.0,2.0,13.0,,30.242778,-97.285556,1000.0,"ARSENIC, DISSOLVED (UG/L AS AS)",NaN,0.0,ug/L,NaN

In [12]:
df = pre_process(copper,[0,2.5,10,10e10],["zero","moderate",'high'])
df['year'] =  df['Date']/10000
df['year'] = df['year'].astype('int')
df = df[df['year']==2002]
copper_date = df['Date']
#len(np.intersect1d(arsenic_date,copper_date))

In [19]:
dates = df['Date'].unique()
dates = dates.sort()
dates

In [106]:
count = df.groupby(["year"])['year'].count()
count.head()

year
1990    109
1991     29
1993      8
1994     24
1995      2
Name: year, dtype: int64

In [107]:
count = count[count>=100]
count

year
1990    109
1998    391
2002    400
2006    290
2010    251
2014    278
2018    161
Name: year, dtype: int64

In [108]:
output_year = count.index.tolist()
output_year

[1990, 1998, 2002, 2006, 2010, 2014, 2018]

In [109]:
f = open("popular_year.txt",'a')
f.write("\n"+"vanadium\n")
for element in output_year:
    f.write(str(element)+" ")
f.close()

In [30]:
yr2002 = df[df['year']==1998]

In [33]:
len(yr2002['Date'].unique())

83

In [32]:
len(yr2002)

391

In [41]:
len(np.intersect1d(arsenic_date,copper_date))

93

In [57]:
a = [1,2,3]
b = [3,4,5]
c= [4,5,6]
lists = list(zip(a,b,c))
dd = pd.DataFrame(lists,columns = ['a','b','c'])
dd

   a  b  c
0  1  3  4
1  2  4  5
2  3  5  6