In [1]:
import pandas as pd
import numpy as np
from calculator import *

In [44]:
data = pd.read_csv("arsenic.csv")
uranium = pd.read_csv("uranium.csv")

In [38]:
data.head()

,StateWellNumber,County,AquiferCode,WellDepth,Date,Time,SampleNumber,EntityId,LabId,ReliabilityId,CollectionRemarks,LatitudeDD,LongitudeDD,ParameterCode,ParameterDescription,ParameterFlag,ParameterValue,ParameterUnit,PlusMinus
0,5846410,Bastrop,124SMBR,45.0,9/3/1980,NaN,1.0,3.0,2.0,13.0,,30.303056,-97.347778,1000.0,"ARSENIC, DISSOLVED (UG/L AS AS)",NaN,0.0,ug/L,NaN
1,5846502,Bastrop,124SMBR,177.0,9/3/1980,NaN,1.0,3.0,2.0,13.0,,30.328889,-97.309445,1000.0,"ARSENIC, DISSOLVED (UG/L AS AS)",NaN,1.0,ug/L,NaN
2,5846515,Bastrop,124HOOP,505.0,9/3/1980,NaN,1.0,3.0,2.0,13.0,,30.321667,-97.313889,1000.0,"ARSENIC, DISSOLVED (UG/L AS AS)",NaN,0.0,ug/L,NaN
3,5854103,Bastrop,124SMBR,152.0,9/3/1980,NaN,1.0,3.0,2.0,13.0,,30.249722,-97.346667,1000.0,"ARSENIC, DISSOLVED (UG/L AS AS)",NaN,0.0,ug/L,NaN
4,5854302,Bastrop,124SMBR,500.0,9/3/1980,NaN,1.0,3.0,2.0,13.0,,30.242778,-97.285556,1000.0,"ARSENIC, DISSOLVED (UG/L AS AS)",NaN,0.0,ug/L,NaN

In [45]:
df = pre_process(data,[0,2,6,100],["zero","moderate",'high'])
df.head(20)

     StateWellNumber      Date  LatitudeDD  LongitudeDD  ParameterValue  type
1227         5846502  19800309   30.328889   -97.309445             1.0  zero
1249         5854302  19800309   30.242778   -97.285556             0.0  zero
1248         5854103  19800309   30.249722   -97.346667             0.0  zero
1253         5854504  19800309   30.203334   -97.304445             1.0  zero
1236         5846515  19800309   30.321667   -97.313889             0.0  zero
1223         5846410  19800309   30.303056   -97.347778             0.0  zero
1239         5847701  19800909   30.287500   -97.238611             0.0  zero
1254         5854513  19800909   30.203334   -97.299722             0.0  zero
1237         5846517  19800909   30.328611   -97.310834             0.0  zero
1228         5846504  19800909   30.325278   -97.314445             0.0  zero
1250         5854303  19800909   30.243334   -97.285278             0.0  zero
1133         3938602  19810904   31.457778   -96.278889             0.0  zero
1139         3946106  19812210   31.350001   -96.335556             0.0  zero
524          3541703  19832308   32.275833   -94.977778             1.0  zero
525          3541807  19832308   32.270833   -94.936389             1.0  zero
665          3703202  19832608   31.960556   -94.669722             1.0  zero
1329         5902805  19842112   30.888056   -96.816389            10.0  high
389          3456704  19851305   32.147222   -95.104167            10.0  high
1251         5854403  19880410   30.176111   -97.366944            10.0  high
1261         5855201  19882109   30.244444   -97.207222            10.0  high

In [41]:
uranium.head()

,StateWellNumber,County,AquiferCode,WellDepth,Date,Time,SampleNumber,EntityId,LabId,ReliabilityId,CollectionRemarks,LatitudeDD,LongitudeDD,ParameterCode,ParameterDescription,ParameterFlag,ParameterValue,ParameterUnit,PlusMinus
0,3458904,Anderson,124WLCX,1032.0,4/23/2010,1005.0,1.0,1.0,23.0,7.0,Analysis Balanced. Lab Calculated Anion/Catio...,32.016103,-95.751856,22703.0,"URANIUM, NATURAL, DISSOLVED (UG/L AS U)",<,1.0,ug/L,NaN
1,3458904,Anderson,124WLCX,1032.0,4/8/2014,1326.0,1.0,1.0,23.0,7.0,Analysis Unbalanced. Lab Calculated Anion/Cat...,32.016103,-95.751856,22703.0,"URANIUM, NATURAL, DISSOLVED (UG/L AS U)",<,1.0,ug/L,NaN
2,3458904,Anderson,124WLCX,1032.0,6/27/2018,1640.0,1.0,1.0,23.0,7.0,Analysis Balanced. Lab Calculated Anion/Catio...,32.016103,-95.751856,22703.0,"URANIUM, NATURAL, DISSOLVED (UG/L AS U)",<,1.0,ug/L,NaN
3,3460602,Anderson,124CRRZ,652.0,4/28/2010,900.0,1.0,1.0,23.0,7.0,Analysis Balanced. Lab Calculated Anion/Catio...,32.055556,-95.505833,22703.0,"URANIUM, NATURAL, DISSOLVED (UG/L AS U)",<,1.0,ug/L,NaN
4,3460602,Anderson,124CRRZ,652.0,4/10/2014,845.0,1.0,1.0,23.0,7.0,Analysis Balanced. Lab Calculated Anion/Catio...,32.055556,-95.505833,22703.0,"URANIUM, NATURAL, DISSOLVED (UG/L AS U)",<,1.0,ug/L,NaN

In [43]:
ur = pre_process(uranium,[0,100],['uranium'])
ur.head()

,StateWellNumber,Date,LatitudeDD,LongitudeDD,ParameterValue,type
386,3931411,19940404,31.551111,-96.221111,1.0,uranium
381,3924603,19940504,31.685000,-96.028055,1.0,uranium
378,3923101,19940604,31.746667,-96.249444,1.0,uranium
372,3907406,19941804,31.939167,-96.211389,1.0,uranium
123,3457405,19941904,32.053972,-95.967667,1.0,uranium

In [47]:
t1 = df['Date']
t2 = ur['Date']

In [50]:
pd.Series(list(set(t1).intersection(set(t2))))

0      20181505
1      20143107
2      20181508
3      20091910
4      20121608
         ...
220    20101103
221    20101105
222    20101108
223    20100605
224    20203007
Length: 225, dtype: int64