In [18]:
import pandas as pd
import numpy as np 
import re

In [19]:
category_name = pd.read_csv("categories_names.csv",header = None,names = ['id','name'])
category_name = category_name.dropna()

In [20]:
checkins = pd.read_csv("checkins.csv")
checkins = checkins.dropna()

In [21]:
venues = pd.read_csv("venues.csv",usecols = [0,5],names = ['vid','id'])
venues = venues.dropna()
mask = venues['id'].apply(lambda x: x[0].isdigit())
venues = venues[mask]

In [22]:
df = venues.join(category_name.set_index('id'), on='id')
df = df.dropna()
pre_df = checkins.join(df.set_index('vid'), on='vid')
mask = pre_df['name'].apply(lambda x:not (isinstance(x,int) or isinstance(x,float)))
pre_df = pre_df[mask]

In [23]:
len(pre_df["name"].unique())

640

In [24]:
def big_vc_name(name:str):
    if 'Restaurant' in name or 'Cafeteria' in name or name in ['BBQ Joint','Fish & Chips Shop','Fried Chicken Joint','Salad Place',
    'Steakhouse','Breakfast Spot','Burrito Place','Sandwich Place','Ramen /  Noodle House','Burger Joint',
    'Taco Place', 'Hot Dog Joint','Wings Joint','Soup Place','Pizza Place','cafe','Diner','Mac & Cheese Joint','Caf√©',
    'Buffet','Noodle House','Street Food Gathering','Pelmeni House']: 
        return 'Restaurant'
    elif name in ['Deli / Bodega','Snack Place','Ice Cream Shop','Candy Store',
    'Bagel Shop','Food Truck','Cupcake Shop','Bakery','Donut Shop',
    'Dessert Shop','Food','Food & Drink Shop','Bubble Tea Shop','Food Court','Frozen Yogurt',
        'Pie Shop','Cheese Shop','Chocolate Shop','Creperie','Smoothie Shop','Gourmet Shop']:
        return 'Food & Snack'
    elif name.endswith('School') or \
    (name.startswith('College') and name.endswith('Building')) or  name in ['College Academic Building','University',
    'Community College','College & University','General College & University','Student Center','Preschool',
        'College Lab','College Library','College Classroom']:
        return 'School'
    elif 'Gym' in name or 'Basketball Court' in name or ('Sports' in name and name != 'Sports Bar') or 'Stadium' in name or name in ['Playground','Bowling Alley','Pool Hall','Ski Area',
    'Gym / Fitness Center','Pool','Athletic & Sport','Baseball Field',
    'Tennis Court','Skating Rink', 'Athletics & Sports','Volleyball Court','Soccer Field','Golf Course',
    'College Football Field','Martial Arts Dojo','College Soccer Field','Cricket Ground',
        'Hockey Arena','Hotel Pool','Disc Golf','Yoga Studio','College Track','Cycle Studio','Surf Spot','Gun Range',
        'Mini Golf','Salsa Club']:
        return 'Place for Sports'
    elif 'Ferry' in name or name in ['Bus Station','Light Rail','Train Station','Taxi','Airport','Subway','Metro Station',
        'Train','Pier','Bus Stop','Bus Line','Airport Terminal','Tram Station','Light Rail Station','Plane','Airport Tram',
        'Cable Car']:
        return 'Transportation'
    elif 'Museum' in name or name in ['Public Art','Arts & Entertainment',
    'Historic Site','Arts & Crafts Store','Art Gallery','Sculpture Garden',
    'Antique Shop','Thrift / Vintage Store','Outdoor Sculpture','Performing Arts Venue',
            'College Theater','Theater','Dance Studio','Cultural Center','Street Art']:
        return 'History, Museum & Arts'
    elif name in ['Nail Salon','Salon / Barbershop','Tanning Salon','Cosmetics Shop','Spa / Massage','Massage Studio','Spa',
    'Tattoo Parlor']:
        return 'Beauty, Cosmetology & Hairdressing'
    elif name in ['Motorcycle Shop','Board Shop','Bike Rental / Bike Share',
    'Rental Car Location','Automotive Shop','Bike Shop']:
        return 'Vehicle Shop & Tental'
    elif name in ['Gas Station / Garage','Car Wash','Parking','Car Dealership','Auto Garage']:
        return 'Vehicle-Related Place'
    elif 'Movie Theater'in name or name in ['Comedy Club','Casino',
    'Tea Room','Other Nightlife','General Entertainment',
    'Nightlife Spot',
    'Internet Cafe','Coffee Shop','Gaming Cafe',
    'Arcade','Nightclub','Recreation Center',
    'Strip Club','Indie Theater','Plaza',
    'Aquarium','College Rec Center','Circus']:
        return 'Indoor Entertainment'
    elif 'Park' in name or name in ['Racetrack','Harbor / Marina','Outdoors & Recreation','Zoo','Park',
    'Beach','Other Great Outdoors','Scenic Lookout','Garden','Garden Center','Campground','River',
        'Hot Spring','Botanical Garden','Island','Volcano','Mountain','Castle','Lake','College Quad',
            'Monument / Landmark','Nudist Beach','Resort','Palace','Pedestrian Plaza','Forest']:
        return 'Outdoor Entertainment'
    elif name in ['Spiritual Center','Church','Synagogue','Shrine','Mosque','Temple','Monastery',]:
        return 'Religion & Spirituality'
    elif name in ['Sorority House','Event Space','Fraternity House','Social Club','Club House','Community Center','Neighborhood']:
        return 'Place for Socializing'
    elif name in ['Flea Market','Market','Fair','Department Store','Convenience Store','Mall',
                'Fish Market','Farmers Market','Fruit & Vegetable Store','Street Fair', 'Miscellaneous Shop',
                 'Grocery Store','Supermarket','Warehouse Store','Organic Grocery','Big Box Store',
                 'Christmas Market','Pop-Up Shop']:
        return 'Grocery & Market'
    elif name in ['General Travel','Travel & Transport','Travel Lounge','Tourist Information Center',
        'Travel Agency','Airport Gate','Airport Lounge']:
        return 'Travel-Related Place'
    elif name in ['Jewelry Store','Clothing Store','Bridal Shop','Lingerie Store',
            "Women's Store","Men's Store",'Shoe Store','Tailor Shop','Shoe Repair','Leather Goods Store']:
        return 'Clothing & Jewelry'
    elif 'Dispensary' in name or name in ['Drugstore / Pharmacy','Medical Center','Hospital','Emergency Room',
        'Eye Doctor','Chiropractor','Acupuncturist']:
        return 'Medical-Related Place'
    elif name in ['Pet Service','Pet Store','Animal Shelter','Dog Run','Veterinarian']:
        return 'Pet-Related Place'
    elif 'Residence' in name or \
    name in ['Residential Building (Apartment / Condo)','Home (private)','College Residence Hall']:
        return 'Residence'
    elif 'Pub' in name or 'Bar' in name or name in ['Winery','Distillery','Brewery','Bistro','Beer Store','Wine Shop','Speakeasy',
                'Gastropub','Beer Garden','Liquor Store','Smoke Shop']:
        return 'Tobacco & Alcohol'
    elif name in ['Video Store','Gift Shop','Video Game Store','Toy / Game Store','Record Shop','Hobby Shop','Flower Shop',
                 'Boutique','Comic Shop']:
        return 'Shop Related to Entertainment'
    elif name in ['Planetarium','Bookstore','Library','College Bookstore','Used Bookstore','Newsstand']:
        return 'Info & Education'
    elif name in ['Electronics Store','Mobile Phone Shop','IT Services']:
        return 'IT & Electronics'
    elif name in ['Camera Store','Photography Lab','Photography Studio',]:
        return 'Photography'
    elif 'Office'  in name or name in ['Coworking Space']:
        return 'Office'
    elif name.endswith('Hotel') or name in ['Bed & Breakfast','Motel','Hostel','Boarding House']:
        return 'Hotel'
    elif name in ['Convention Center','Conference','Meeting Room','Conference Room',]:
        return 'Convention Center'
    elif name in ['Music Venue','Music Store','Rock Club','Jazz Club','Concert Hall','Music Festival','Opera House',]:
        return 'Music'
    elif name in ['Tech Startup','Laboratory']:
        return 'Technology'
    elif name in ['Radio Station','TV Station','Recording Studio']:
        return 'Media'
    elif name in ['Housing Development','Government Building','Voting Booth','Police Station','Embassy / Consulate',
    'Capitol Building','Courthouse','City Hall']:
        return 'Municipal'
    elif name in ['Kids Store','Daycare','Baby Store',]:
        return 'Child & Elderly Care'
    elif name in ['Print Shop','Stationery Store']:
        return 'Office Supplies & Service'
    elif name in ['Furniture / Home Store','Hardware Store','Road',
    'Fire Station','Trail','Multiplex','Laundry Service','Bridge',
    'Lounge','Stables',
    'Track','Non-Profit','Advertising Agency',
    'Storage Facility','Butcher','Roof Deck',
    'Sporting Goods Shop','Tunnel','Lighthouse',
    'Street','Accessories Store','Toll Plaza','Auditorium','Platform',
    'Discount Store','Design Studio','Laundromat','Optical Shop','College Auditorium',
    'Military Base','Moving Target','Other Event','Festival',
    'Outdoor Supply Store','Financial or Legal Service','Factory','Convention','Health Food Store','Intersection',
    'Farm', 'City', 'Field','Shipping Store','Prison','Credit Union','Lawyer','Assisted Living','Churrascaria',
    'Parade','Adult Boutique','Country','Border Crossing','Bath House','Rest Area','Village','Recycling Facility',
    'Recruiting Agency','Fabric Shop', 'Professional & Other Places',
    'Shop & Service','Blini House','Warehouse','Other Repair Shop','Funeral Home','Cemetery','Building',
    'Bank']:
        return 'Others'
    else: return name

In [25]:
pre_df

,uid,vid,time,city,id,name
0,73102,4c023a7ecd1895211175f4b3,2010-10-25T17:43:36,london,4bf58dd8d48988d104951735,Boutique
1,98102,4c96a0c7533aa0936f81d345,2010-11-05T02:54:05,chicago,4bf58dd8d48988d103941735,Home (private)
2,35258,4b527fdcf964a520028027e3,2010-07-24T03:10:24,newyork,4bf58dd8d48988d116941735,Bar
3,86588,4b468c13f964a520fc2326e3,2010-08-25T16:54:33,chicago,4eb1bfa43b7b52c0e1adc2e8,Peruvian Restaurant
4,23398,460ec5d6f964a52019451fe3,2010-10-01T21:27:15,losangeles,4bf58dd8d48988d1c9941735,Ice Cream Shop
...,...,...,...,...,...,...
4458730,3083,4adcda57f964a5209a4321e3,2010-10-07T21:43:50,barcelona,4bf58dd8d48988d136941735,Opera House
4458731,157475,4a106621f964a520ba761fe3,2010-11-02T12:49:51,washington,4bf58dd8d48988d12d941735,Monument / Landmark
4458732,59358,49ecc67bf964a52083671fe3,2010-09-06T23:38:06,chicago,4bf58dd8d48988d1e0931735,Coffee Shop
4458733,115256,4cd9525f2a805481755fa02c,2011-01-03T09:12:18,indianapolis,4bf58dd8d48988d124941735,Office
4458734,134336,49cff672f964a520e95a1fe3,2010-05-21T18:57:32,losangeles,4bf58dd8d48988d1fd941735,Mall

In [26]:
counting = pre_df.groupby(['name']).count()
inx = counting['id'].apply(lambda x: x>=100)
notdrop = list(counting[inx].index)
mask  = pre_df['name'].apply(lambda x: x in notdrop)
pre_df = pre_df[mask]
pre_df['big_name'] = pre_df['name'].apply(big_vc_name)
# counting = pre_df.groupby(['big_name']).count()
# inx = counting['name'].apply(lambda x:x>=100)
# notdrop = list(counting[inx].index)
# mask = pre_df['name'].apply(lambda x: x in notdrop)
# pre_df = pre_df[mask]
pdf = pre_df[pre_df['big_name']!='haha']

C:\conda_tmp\ipykernel_23476\4146568136.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pre_df['big_name'] = pre_df['name'].apply(big_vc_name)

In [27]:
# pdf = pre_df[pre_df['big_name']!='haha']
# pdf.shape
pdf['big_name'].unique()

array(['Shop Related to Entertainment', 'Residence', 'Tobacco & Alcohol',
       'Restaurant', 'Food & Snack', 'Music', 'Transportation',
       'Place for Sports', 'Indoor Entertainment',
       'Place for Socializing', 'Others',
       'Beauty, Cosmetology & Hairdressing', 'Hotel',
       'History, Museum & Arts', 'Office', 'School',
       'Medical-Related Place', 'Grocery & Market',
       'Outdoor Entertainment', 'Technology', 'Travel-Related Place',
       'IT & Electronics', 'Municipal', 'Clothing & Jewelry',
       'Convention Center', 'Info & Education', 'Media',
       'Vehicle-Related Place', 'Religion & Spirituality',
       'Office Supplies & Service', 'Pet-Related Place', 'Photography',
       'Child & Elderly Care', 'Vehicle Shop & Tental'], dtype=object)

In [28]:
counting

                     uid    vid   time   city     id
name
ATM                   69     69     69     69     69
Acai House            22     22     22     22     22
Accessories Store   1623   1623   1623   1623   1623
Acupuncturist        253    253    253    253    253
Adult Boutique       272    272    272    272    272
...                  ...    ...    ...    ...    ...
Winery              1872   1872   1872   1872   1872
Wings Joint         4631   4631   4631   4631   4631
Women's Store       3631   3631   3631   3631   3631
Yoga Studio        10236  10236  10236  10236  10236
Zoo                 6841   6841   6841   6841   6841

[640 rows x 5 columns]

In [29]:
# # print out
# for name in names:
#     print("{}.csv".format(name))

In [30]:
pre_df['big_name'].unique()

array(['Shop Related to Entertainment', 'Residence', 'Tobacco & Alcohol',
       'Restaurant', 'Food & Snack', 'Music', 'Transportation',
       'Place for Sports', 'Indoor Entertainment',
       'Place for Socializing', 'Others',
       'Beauty, Cosmetology & Hairdressing', 'Hotel',
       'History, Museum & Arts', 'Office', 'School',
       'Medical-Related Place', 'Grocery & Market',
       'Outdoor Entertainment', 'Technology', 'Travel-Related Place',
       'IT & Electronics', 'Municipal', 'Clothing & Jewelry',
       'Convention Center', 'Info & Education', 'Media',
       'Vehicle-Related Place', 'Religion & Spirituality',
       'Office Supplies & Service', 'Pet-Related Place', 'Photography',
       'Child & Elderly Care', 'Vehicle Shop & Tental'], dtype=object)

In [31]:
len(pre_df['big_name'].unique())

34

In [32]:
counting = pre_df.groupby(['big_name']).count()
inx = counting['name'].apply(lambda x:x>=100)
inx

big_name
Beauty, Cosmetology & Hairdressing    True
Child & Elderly Care                  True
Clothing & Jewelry                    True
Convention Center                     True
Food & Snack                          True
Grocery & Market                      True
History, Museum & Arts                True
Hotel                                 True
IT & Electronics                      True
Indoor Entertainment                  True
Info & Education                      True
Media                                 True
Medical-Related Place                 True
Municipal                             True
Music                                 True
Office                                True
Office Supplies & Service             True
Others                                True
Outdoor Entertainment                 True
Pet-Related Place                     True
Photography                           True
Place for Socializing                 True
Place for Sports                      True
Religion & Spirituality               True
Residence                             True
Restaurant                            True
School                                True
Shop Related to Entertainment         True
Technology                            True
Tobacco & Alcohol                     True
Transportation                        True
Travel-Related Place                  True
Vehicle Shop & Tental                 True
Vehicle-Related Place                 True
Name: name, dtype: bool

In [33]:
dd = pre_df[pre_df['name'] == 'Nudist Beach']
dd.shape

(273, 7)

In [34]:
"a" in "haha"

True