In [1]:
import pandas as pd
import numpy as np
from calculator import *

In [101]:
data = pd.read_csv("vanadium.csv")
# uranium = pd.read_csv("uranium.csv")

In [102]:
data.head()

,StateWellNumber,County,AquiferCode,WellDepth,Date,Time,SampleNumber,EntityId,LabId,ReliabilityId,CollectionRemarks,LatitudeDD,LongitudeDD,ParameterCode,ParameterDescription,ParameterFlag,ParameterValue,ParameterUnit,PlusMinus
0,3458904,Anderson,124WLCX,1032.0,5/20/1998,1212.0,1.0,1.0,23.0,7.0,Analysis Balanced.,32.016103,-95.751856,1085.0,"VANADIUM, DISSOLVED (UG/L AS V)",NaN,1.60,ug/L,NaN
1,3458904,Anderson,124WLCX,1032.0,3/12/2002,1530.0,1.0,1.0,23.0,7.0,Analysis Balanced.,32.016103,-95.751856,1085.0,"VANADIUM, DISSOLVED (UG/L AS V)",<,1.00,ug/L,NaN
2,3458904,Anderson,124WLCX,1032.0,10/26/2005,1130.0,1.0,1.0,24.0,7.0,Analysis Balanced. Petcock on discharge in bldg,32.016103,-95.751856,1085.0,"VANADIUM, DISSOLVED (UG/L AS V)",<,1.00,ug/L,NaN
3,3458904,Anderson,124WLCX,1032.0,4/23/2010,1005.0,1.0,1.0,23.0,7.0,Analysis Balanced. Lab Calculated Anion/Catio...,32.016103,-95.751856,1085.0,"VANADIUM, DISSOLVED (UG/L AS V)",NaN,1.90,ug/L,NaN
4,3458904,Anderson,124WLCX,1032.0,4/8/2014,1326.0,1.0,1.0,23.0,7.0,Analysis Unbalanced. Lab Calculated Anion/Cat...,32.016103,-95.751856,1085.0,"VANADIUM, DISSOLVED (UG/L AS V)",NaN,1.53,ug/L,NaN

In [103]:
data.describe()

,WellDepth,Time,SampleNumber,EntityId,LabId,ReliabilityId,LatitudeDD,LongitudeDD,ParameterCode,ParameterValue,PlusMinus
count,2200.000000,2243.000000,2243.000000,2243.000000,2243.000000,2241.000000,2243.000000,2243.000000,2243.0,2243.000000,0.0
mean,1063.632727,1213.478377,1.000446,1.879180,21.461436,7.023650,30.499593,-96.998081,1085.0,3.124730,NaN
std,917.216781,259.505701,0.021115,3.080416,5.885293,0.757034,1.579765,1.847644,0.0,5.342715,NaN
min,20.000000,0.000000,1.000000,1.000000,1.000000,1.000000,27.474722,-100.214723,1085.0,1.000000,NaN
25%,448.250000,1015.000000,1.000000,1.000000,23.000000,7.000000,29.005356,-98.632083,1085.0,1.000000,NaN
50%,753.500000,1207.000000,1.000000,1.000000,23.000000,7.000000,30.628972,-96.906667,1085.0,1.000000,NaN
75%,1350.000000,1425.000000,1.000000,1.000000,23.000000,7.000000,31.941667,-95.344445,1085.0,2.000000,NaN
max,6211.000000,1845.000000,2.000000,16.000000,24.000000,14.000000,33.443611,-93.776667,1085.0,42.200000,NaN

In [104]:
df = pre_process(data,[0,2.5,10,10e10],["zero","moderate",'high'])
df.head(20)

     StateWellNumber      Date  LatitudeDD  LongitudeDD  ParameterValue  type
1639         6958707  19900608   29.013611   -99.854444            20.0  high
1657         6961603  19900608   29.046945   -99.403334            20.0  high
1768         7704601  19900708   28.943056   -99.503334            20.0  high
1896         7723808  19900708   28.666112   -99.168611            20.0  high
1743         7702403  19900708   28.943328   -99.848628            20.0  high
1669         6962902  19900708   29.006667   -99.276944            20.0  high
1767         7704441  19900708   28.954444   -99.618333            20.0  high
1830         7714903  19900708   28.758334   -99.262501            20.0  high
1842         7716603  19900708   28.806112   -99.034445            20.0  high
1887         7722502  19900808   28.692500   -99.315278            20.0  high
2154         7818206  19900808   28.709445   -98.809723            20.0  high
1797         7708716  19900808   28.899431   -99.109725            20.0  high
1787         7708201  19900808   28.987500   -99.060278            20.0  high
1692         7608503  19900808   28.943889  -100.071944            20.0  high
1782         7706301  19900808   28.971667   -99.251389            20.0  high
1820         7712702  19900808   28.753333   -99.603333            20.0  high
1726         7701404  19900808   28.936389   -99.985834            20.0  high
2123         7809503  19900908   28.815556   -98.927500            20.0  high
1858         7718510  19900908   28.692778   -99.829722            20.0  high
1857         7718407  19900908   28.680603   -99.834050            20.0  high

In [105]:
df['year'] =  df['Date']/10000
df['year'] = df['year'].astype('int')
df.head()

,StateWellNumber,Date,LatitudeDD,LongitudeDD,ParameterValue,type,year
1639,6958707,19900608,29.013611,-99.854444,20.0,high,1990
1657,6961603,19900608,29.046945,-99.403334,20.0,high,1990
1768,7704601,19900708,28.943056,-99.503334,20.0,high,1990
1896,7723808,19900708,28.666112,-99.168611,20.0,high,1990
1743,7702403,19900708,28.943328,-99.848628,20.0,high,1990

In [106]:
count = df.groupby(["year"])['year'].count()
count.head()

year
1990    109
1991     29
1993      8
1994     24
1995      2
Name: year, dtype: int64

In [107]:
count = count[count>=100]
count

year
1990    109
1998    391
2002    400
2006    290
2010    251
2014    278
2018    161
Name: year, dtype: int64

In [108]:
output_year = count.index.tolist()
output_year

[1990, 1998, 2002, 2006, 2010, 2014, 2018]

In [109]:
f = open("popular_year.txt",'a')
f.write("\n"+"vanadium\n")
for element in output_year:
    f.write(str(element)+" ")
f.close()

In [76]:
10e1

100.0