In [5]:
import pandas as pd
import numpy as np
from calculator import *

In [2]:
arsenic = pd.read_csv("arsenic.csv")
copper = pd.read_csv("copper.csv")
sulfate = pd.read_csv("sulfate.csv")
boran = pd.read_csv("boran.csv")
chloride = pd.read_csv("chloride.csv")
molybdenum = pd.read_csv("molybdenum.csv")
vanadium = pd.read_csv("vanadium.csv")
# uranium = pd.read_csv("uranium.csv")

In [46]:
l = [arsenic,copper,sulfate,boran,chloride,molybdenum,vanadium]

In [55]:
common = list()
r = list(range(len(l)))
for i in range(len(l)-1):
    j = i+1
    df = pre_process(l[i],[0,2.5,10,10e10],["zero","moderate",'high'])
    df['year'] =  df['Date']/10000
    df['year'] = df['year'].astype('int')
    df = df[df['year']==2002]
    date1 = df['Date']
    
    df = pre_process(l[j],[0,2.5,10,10e10],["zero","moderate",'high'])
    df['year'] =  df['Date']/10000
    df['year'] = df['year'].astype('int')
    df = df[df['year']==2002]
    date2 = df['Date']
    
    common.append(len(np.intersect1d(date1,date2)))

In [56]:
common

[93, 92, 92, 92, 92, 92]

In [3]:
df = pre_process(vanadium,[0,2.5,10,10e10],["zero","moderate",'high'])

In [6]:
haha = vectorize(df,["zero","moderate",'high'])

UnboundLocalError: local variable 'date' referenced before assignment

In [102]:
data.head()

,StateWellNumber,County,AquiferCode,WellDepth,Date,Time,SampleNumber,EntityId,LabId,ReliabilityId,CollectionRemarks,LatitudeDD,LongitudeDD,ParameterCode,ParameterDescription,ParameterFlag,ParameterValue,ParameterUnit,PlusMinus
0,3458904,Anderson,124WLCX,1032.0,5/20/1998,1212.0,1.0,1.0,23.0,7.0,Analysis Balanced.,32.016103,-95.751856,1085.0,"VANADIUM, DISSOLVED (UG/L AS V)",NaN,1.60,ug/L,NaN
1,3458904,Anderson,124WLCX,1032.0,3/12/2002,1530.0,1.0,1.0,23.0,7.0,Analysis Balanced.,32.016103,-95.751856,1085.0,"VANADIUM, DISSOLVED (UG/L AS V)",<,1.00,ug/L,NaN
2,3458904,Anderson,124WLCX,1032.0,10/26/2005,1130.0,1.0,1.0,24.0,7.0,Analysis Balanced. Petcock on discharge in bldg,32.016103,-95.751856,1085.0,"VANADIUM, DISSOLVED (UG/L AS V)",<,1.00,ug/L,NaN
3,3458904,Anderson,124WLCX,1032.0,4/23/2010,1005.0,1.0,1.0,23.0,7.0,Analysis Balanced. Lab Calculated Anion/Catio...,32.016103,-95.751856,1085.0,"VANADIUM, DISSOLVED (UG/L AS V)",NaN,1.90,ug/L,NaN
4,3458904,Anderson,124WLCX,1032.0,4/8/2014,1326.0,1.0,1.0,23.0,7.0,Analysis Unbalanced. Lab Calculated Anion/Cat...,32.016103,-95.751856,1085.0,"VANADIUM, DISSOLVED (UG/L AS V)",NaN,1.53,ug/L,NaN

In [103]:
data.describe()

,WellDepth,Time,SampleNumber,EntityId,LabId,ReliabilityId,LatitudeDD,LongitudeDD,ParameterCode,ParameterValue,PlusMinus
count,2200.000000,2243.000000,2243.000000,2243.000000,2243.000000,2241.000000,2243.000000,2243.000000,2243.0,2243.000000,0.0
mean,1063.632727,1213.478377,1.000446,1.879180,21.461436,7.023650,30.499593,-96.998081,1085.0,3.124730,NaN
std,917.216781,259.505701,0.021115,3.080416,5.885293,0.757034,1.579765,1.847644,0.0,5.342715,NaN
min,20.000000,0.000000,1.000000,1.000000,1.000000,1.000000,27.474722,-100.214723,1085.0,1.000000,NaN
25%,448.250000,1015.000000,1.000000,1.000000,23.000000,7.000000,29.005356,-98.632083,1085.0,1.000000,NaN
50%,753.500000,1207.000000,1.000000,1.000000,23.000000,7.000000,30.628972,-96.906667,1085.0,1.000000,NaN
75%,1350.000000,1425.000000,1.000000,1.000000,23.000000,7.000000,31.941667,-95.344445,1085.0,2.000000,NaN
max,6211.000000,1845.000000,2.000000,16.000000,24.000000,14.000000,33.443611,-93.776667,1085.0,42.200000,NaN

In [39]:
df = pre_process(copper,[0,2.5,10,10e10],["zero","moderate",'high'])
df['year'] =  df['Date']/10000
df['year'] = df['year'].astype('int')
df = df[df['year']==2002]
copper_date = df['Date']
len(np.intersect1d(arsenic_date,copper_date))

835     20020104
1425    20020107
360     20020305
1399    20020306
1407    20020306
          ...
1722    20023005
1710    20023005
2203    20023005
2291    20023005
2184    20023005
Name: Date, Length: 402, dtype: int64

In [105]:
df['year'] =  df['Date']/10000
df['year'] = df['year'].astype('int')
df.head()

,StateWellNumber,Date,LatitudeDD,LongitudeDD,ParameterValue,type,year
1639,6958707,19900608,29.013611,-99.854444,20.0,high,1990
1657,6961603,19900608,29.046945,-99.403334,20.0,high,1990
1768,7704601,19900708,28.943056,-99.503334,20.0,high,1990
1896,7723808,19900708,28.666112,-99.168611,20.0,high,1990
1743,7702403,19900708,28.943328,-99.848628,20.0,high,1990

In [106]:
count = df.groupby(["year"])['year'].count()
count.head()

year
1990    109
1991     29
1993      8
1994     24
1995      2
Name: year, dtype: int64

In [107]:
count = count[count>=100]
count

year
1990    109
1998    391
2002    400
2006    290
2010    251
2014    278
2018    161
Name: year, dtype: int64

In [108]:
output_year = count.index.tolist()
output_year

[1990, 1998, 2002, 2006, 2010, 2014, 2018]

In [109]:
f = open("popular_year.txt",'a')
f.write("\n"+"vanadium\n")
for element in output_year:
    f.write(str(element)+" ")
f.close()

In [30]:
yr2002 = df[df['year']==1998]

In [33]:
len(yr2002['Date'].unique())

83

In [32]:
len(yr2002)

391

In [41]:
len(np.intersect1d(arsenic_date,copper_date))

93

In [57]:
a = [1,2,3]
b = [3,4,5]
c= [4,5,6]
lists = list(zip(a,b,c))
dd = pd.DataFrame(lists,columns = ['a','b','c'])
dd

   a  b  c
0  1  3  4
1  2  4  5
2  3  5  6