In [11]:
import pandas as pd

path = 'dataset_tsmc2014/dataset_TSMC2014_NYC.txt'
data = pd.read_csv(path,sep='\t',header=None,
    names=['uid','vid','vcid','vc_name','lat','long','timezone_offset','utc_time'])
# user_id, venue_id, venue_category_id, venue_category_name, latitude, longitude, timezone_offset_in_minutes, UTC_time
data.head()

,uid,vid,vcid,vc_name,lat,long,timezone_offset,utc_time
0,470,49bbd6c0f964a520f4531fe3,4bf58dd8d48988d127951735,Arts & Crafts Store,40.719810,-74.002581,-240,Tue Apr 03 18:00:09 +0000 2012
1,979,4a43c0aef964a520c6a61fe3,4bf58dd8d48988d1df941735,Bridge,40.606800,-74.044170,-240,Tue Apr 03 18:00:25 +0000 2012
2,69,4c5cc7b485a1e21e00d35711,4bf58dd8d48988d103941735,Home (private),40.716162,-73.883070,-240,Tue Apr 03 18:02:24 +0000 2012
3,395,4bc7086715a7ef3bef9878da,4bf58dd8d48988d104941735,Medical Center,40.745164,-73.982519,-240,Tue Apr 03 18:02:41 +0000 2012
4,87,4cf2c5321d18a143951b5cec,4bf58dd8d48988d1cb941735,Food Truck,40.740104,-73.989658,-240,Tue Apr 03 18:03:00 +0000 2012

In [12]:
vcids=data.vcid.to_numpy()
print('total records:',len(vcids))
print('total vcs:',len(set(vcids)))

total records: 227428
total vcs: 400

In [13]:
from random import randint
print('random vc:',data.vc_name[randint(0,len(data)-1)])

random vc: Chinese Restaurant

In [14]:
vc_names=set(data.vc_name)
print('total vc_names:',len(vc_names))
print(vc_names)

total vc_names: 251
{'Synagogue', 'School', 'Trade School', 'Distillery', 'Planetarium', 'Portuguese Restaurant', 'Korean Restaurant', 'Music Store', 'Nightlife Spot', 'Funeral Home', 'Jewelry Store', 'Steakhouse', 'Airport', 'Hotel', 'Afghan Restaurant', 'Tattoo Parlor', 'Dessert Shop', 'Restaurant', 'Antique Shop', 'Mac & Cheese Joint', 'Market', 'Board Shop', 'Road', 'Mexican Restaurant', 'Tapas Restaurant', 'Art Museum', 'Burger Joint', 'Camera Store', 'Car Dealership', 'Argentinian Restaurant', 'Filipino Restaurant', 'Turkish Restaurant', 'Thrift / Vintage Store', 'Donut Shop', 'Asian Restaurant', 'Gluten-free Restaurant', 'Bridal Shop', 'Food & Drink Shop', 'Convenience Store', 'Sushi Restaurant', 'Greek Restaurant', 'Sorority House', 'African Restaurant', 'Video Store', 'Brewery', 'Molecular Gastronomy Restaurant', 'Brazilian Restaurant', 'Residential Building (Apartment / Condo)', 'Moroccan Restaurant', 'Middle Eastern Restaurant', 'River', 'Arts & Entertainment', 'Fish & Chips Shop', 'Historic Site', 'Animal Shelter', 'Bookstore', 'Beach', 'Italian Restaurant', 'Student Center', 'Sporting Goods Shop', 'Paper / Office Supplies Store', 'Pool Hall', 'Swiss Restaurant', 'Miscellaneous Shop', 'Taco Place', 'Bus Station', 'Elementary School', 'Internet Cafe', 'Drugstore / Pharmacy', 'Art Gallery', 'Flea Market', 'Convention Center', 'Post Office', 'Flower Shop', 'Video Game Store', 'Park', 'Ice Cream Shop', 'Performing Arts Venue', 'Toy / Game Store', 'Professional & Other Places', 'Eastern European Restaurant', 'Bridge', 'American Restaurant', 'Comedy Club', 'General Entertainment', 'Scenic Lookout', 'Pool', 'Fried Chicken Joint', 'Outdoors & Recreation', 'Bowling Alley', 'Fraternity House', 'Indian Restaurant', 'BBQ Joint', 'Embassy / Consulate', 'Hot Dog Joint', 'Arts & Crafts Store', 'Campground', 'Racetrack', 'Salad Place', 'Breakfast Spot', 'Plaza', 'Arcade', 'cafe', 'Playground', 'High School', 'Bike Shop', 'Mediterranean Restaurant', 'Nail Salon', 'Southern / Soul Food Restaurant', 'Ski Area', 'Military Base', 'Other Great Outdoors', 'General College & University', 'Nursery School', 'Japanese Restaurant', 'Bike Rental / Bike Share', 'Latin American Restaurant', 'Cajun / Creole Restaurant', 'Dumpling Restaurant', 'Harbor / Marina', 'Arepa Restaurant', 'Scandinavian Restaurant', 'Dim Sum Restaurant', 'Cupcake Shop', 'Rental Car Location', 'Science Museum', 'Taxi', 'Subway', 'Gym / Fitness Center', 'Burrito Place', 'Malaysian Restaurant', 'Pet Service', 'Recycling Facility', 'Hardware Store', 'Gaming Cafe', 'Housing Development', 'Clothing Store', 'Ferry', 'Storage Facility', 'Falafel Restaurant', 'Winery', 'Gift Shop', 'Bank', 'Hobby Shop', 'Soup Place', 'Snack Place', 'Vegetarian / Vegan Restaurant', 'Shop & Service', 'Music Venue', 'Electronics Store', 'German Restaurant', 'Rest Area', 'Movie Theater', 'Cosmetics Shop', 'Diner', 'Garden', 'Garden Center', 'Fast Food Restaurant', 'Other Nightlife', 'Mall', 'Pet Store', 'Motorcycle Shop', 'Tanning Salon', 'College Academic Building', 'Bagel Shop', 'Car Wash', 'Travel & Transport', 'Spanish Restaurant', 'Smoke Shop', 'Mosque', 'Fair', 'Gastropub', 'University', 'Candy Store', 'Mobile Phone Shop', 'Medical Center', 'Food Truck', 'Home (private)', 'Church', 'Tea Room', 'College & University', 'Sandwich Place', 'Library', 'City', 'Athletic & Sport', 'Zoo', 'Law School', 'Casino', 'Record Shop', 'Sculpture Garden', 'Financial or Legal Service', 'Cemetery', 'Middle School', 'Photography Lab', 'Laundry Service', 'Community College', 'Neighborhood', 'Coffee Shop', 'Salon / Barbershop', 'Museum', 'Automotive Shop', 'Gas Station / Garage', 'Government Building', 'Concert Hall', 'College Stadium', 'Pizza Place', 'Ramen /  Noodle House', 'Cuban Restaurant', 'Deli / Bodega', 'Wings Joint', 'Spiritual Center', 'Travel Lounge', 'Building', 'Parking', 'Factory', 'Thai Restaurant', 'Food', 'Beer Garden', 'Ethiopian Restaurant', 'Public Art', 'College Theater', 'Medical School', 'Furniture / Home Store', 'Shrine', 'Castle', 'History Museum', 'Stadium', 'Light Rail', 'Peruvian Restaurant', 'Music School', 'Moving Target', 'French Restaurant', 'General Travel', 'South American Restaurant', 'Seafood Restaurant', 'Temple', 'Theater', 'Newsstand', 'Office', 'Bakery', 'Event Space', 'Department Store', 'Caribbean Restaurant', 'Design Studio', 'Bar', 'Spa / Massage', 'Vietnamese Restaurant', 'Aquarium', 'Train Station', 'Chinese Restaurant', 'Australian Restaurant'}

In [15]:
def big_vc_name(name:str):
    if 'Restaurant' in name or name in ['BBQ Joint','Fish & Chips Shop','Fried Chicken Joint','Salad Place',
    'Steakhouse','Breakfast Spot','Burrito Place','Sandwich Place','Ramen /  Noodle House','Burger Joint',
    'Taco Place', 'Hot Dog Joint','Wings Joint','Soup Place','Pizza Place','cafe','Diner','Mac & Cheese Joint']: 
        return 'Restaurant'
    elif name in ['Deli / Bodega','Snack Place','Ice Cream Shop','Candy Store',
    'Bagel Shop','Food Truck','Cupcake Shop','Bakery','Donut Shop',
    'Dessert Shop','Food','Food & Drink Shop']:
        return 'Food & Snack'
    elif 'School' in name or name in ['College Academic Building','University',
    'Community College','College & University','General College & University','Student Center']:
        return 'School'
    elif name in ['College Stadium','Playground','Bowling Alley','Pool Hall','Ski Area',
    'Gym / Fitness Center','Stadium','Pool','Athletic & Sport']:
        return 'Place for Sports'
    elif name in ['Ferry','Bus Station','Light Rail','Train Station','Taxi','Airport','Subway']:
        return 'Transportation'
    elif 'Museum' in name or name in ['Public Art','Arts & Entertainment',
    'Historic Site','Arts & Crafts Store','Art Gallery','Sculpture Garden',
    'Music Venue','Antique Shop','Music Store','Thrift / Vintage Store']:
        return 'History, Museum & Arts'
    elif name in ['Nail Salon','Salon / Barbershop','Tanning Salon','Cosmetics Shop','Spa / Massage',
    'Tattoo Parlor']:
        return 'Beauty, Cosmetology & Hairdressing'
    elif name in ['Motorcycle Shop','Board Shop','Bike Rental / Bike Share',
    'Rental Car Location','Automotive Shop','Bike Shop']:
        return 'Vehicle Shop'
    elif name in ['Gas Station / Garage','Car Wash','Parking','Car Dealership']:
        return 'Vehicle-Related Place'
    elif name in ['Movie Theater','Comedy Club','Casino','Bar',
    'Tea Room','Other Nightlife','General Entertainment',
    'Nightlife Spot','College Theater','Performing Arts Venue','Theater',
    'Internet Cafe','Coffee Shop','Gaming Cafe',
    'Gastropub','Arcade','Beer Garden','Concert Hall']:
        return 'Indoor Entertainment'
    elif name in ['Racetrack','Harbor / Marina','Outdoors & Recreation','Zoo','Park','Aquarium',
    'Beach','Plaza','Other Great Outdoors','Scenic Lookout','Garden','Garden Center','Campground','River']:
        return 'Outdoor Entertainment'
    elif name in ['Spiritual Center','Church','Synagogue','Shrine','Mosque','Temple']:
        return 'Religion & Spirituality'
    elif name in ['Sorority House','Event Space','Fraternity House']:
        return 'Place for Socializing'
    elif name in ['Flea Market','Market','Fair','Department Store','Convenience Store','Mall']:
        return 'Store, Market & Fair'
    elif name in ['General Travel','Travel & Transport','Travel Lounge']:
        return 'Travel-Related Place'
    elif name in ['Jewelry Store','Clothing Store','Bridal Shop']:
        return 'Clothing & Jewelry'
    elif name in ['Drugstore / Pharmacy','Medical Center']:
        return 'Medical-Related Place'
    elif name in ['Pet Service','Pet Store','Animal Shelter']:
        return 'Pet-Related Place'
    elif name in ['Residential Building (Apartment / Condo)','Housing Development','Home (private)']:
        return 'Residence'
    elif name in ['Winery','Distillery','Brewery']:
        return 'Alcoholic-Related Place'
    elif name in ['Video Store','Gift Shop','Video Game Store','Toy / Game Store','Record Shop','Hobby Shop','Flower Shop']:
        return 'Shop Related to Entertainment'
    elif name in ['Planetarium','Bookstore','Library']:
        return 'General Education Place'
    elif name in ['Funeral Home','Cemetery']:
        return 'Funeral'
    elif name in ['Electronics Store','Camera Store','Mobile Phone Shop']:
        return 'Electronics'
    else: return name
data['big_vc_name']=[big_vc_name(name) for name in data.vc_name]
big_vc_names=set(data.big_vc_name)
print('total big_vc_names:',len(big_vc_names))
print(big_vc_names)

total big_vc_names: 56
{'Miscellaneous Shop', 'Laundry Service', 'Alcoholic-Related Place', 'School', 'Recycling Facility', 'Hardware Store', 'Paper / Office Supplies Store', 'Transportation', 'Neighborhood', 'Convention Center', 'Storage Facility', 'Food & Snack', 'Indoor Entertainment', 'Vehicle-Related Place', 'Bank', 'Post Office', 'Government Building', 'Hotel', 'Shop Related to Entertainment', 'Professional & Other Places', 'Bridge', 'Shop & Service', 'Religion & Spirituality', 'Restaurant', 'Medical-Related Place', 'Road', 'Outdoor Entertainment', 'Rest Area', 'Building', 'Factory', 'History, Museum & Arts', 'Store, Market & Fair', 'Embassy / Consulate', 'Furniture / Home Store', 'Castle', 'General Education Place', 'Electronics', 'Smoke Shop', 'Moving Target', 'Newsstand', 'Clothing & Jewelry', 'Office', 'Military Base', 'Pet-Related Place', 'Place for Socializing', 'City', 'Beauty, Cosmetology & Hairdressing', 'Travel-Related Place', 'Design Studio', 'Residence', 'Financial or Legal Service', 'Vehicle Shop', 'Sporting Goods Shop', 'Place for Sports', 'Photography Lab', 'Funeral'}

In [29]:
print(max(data.uid))
print(min(data.uid))
num_uids=max(data.uid)-min(data.uid)+1
print(type(num_uids))

1083
1
<class 'int'>

In [19]:
from datetime import datetime

def time_handler(t_str):
    t_list=t_str.split()
    return ' '.join(['Jan',t_list[2],t_list[3],'2012'])

data['utc_time_value']=[datetime.strptime(time_handler(t_str),'%b %d %H:%M:%S %Y') for t_str in data.utc_time]
print(data.head())

   uid                       vid                      vcid  \
0  470  49bbd6c0f964a520f4531fe3  4bf58dd8d48988d127951735
1  979  4a43c0aef964a520c6a61fe3  4bf58dd8d48988d1df941735
2   69  4c5cc7b485a1e21e00d35711  4bf58dd8d48988d103941735
3  395  4bc7086715a7ef3bef9878da  4bf58dd8d48988d104941735
4   87  4cf2c5321d18a143951b5cec  4bf58dd8d48988d1cb941735

               vc_name        lat       long  timezone_offset  \
0  Arts & Crafts Store  40.719810 -74.002581             -240
1               Bridge  40.606800 -74.044170             -240
2       Home (private)  40.716162 -73.883070             -240
3       Medical Center  40.745164 -73.982519             -240
4           Food Truck  40.740104 -73.989658             -240

                         utc_time             big_vc_name      utc_time_value
0  Tue Apr 03 18:00:09 +0000 2012  History, Museum & Arts 2012-01-03 18:00:09
1  Tue Apr 03 18:00:25 +0000 2012                  Bridge 2012-01-03 18:00:25
2  Tue Apr 03 18:02:24 +0000 2012               Residence 2012-01-03 18:02:24
3  Tue Apr 03 18:02:41 +0000 2012   Medical-Related Place 2012-01-03 18:02:41
4  Tue Apr 03 18:03:00 +0000 2012            Food & Snack 2012-01-03 18:03:00

In [33]:
def name_to_month(name:str):
    if name=='Jan':return 1
    elif name=='Feb':return 2
    elif name=='Mar':return 3
    elif name=='Apr':return 4
    elif name=='May':return 5
    elif name=='Jun':return 6
    elif name=='Jul':return 7
    elif name=='Aug':return 8
    elif name=='Sep':return 9
    elif name=='Oct':return 10
    elif name=='Nov':return 11
    elif name=='Dec':return 12
    else: raise(Exception(name+' is wrong month abbr!'))

def month_handler(t_str):
    t_list=t_str.split()
    mon=name_to_month(t_list[1])
    yr=int(t_list[-1])
    earliest_mon=4
    earliest_yr=2012
    mon_id=12*(yr-earliest_yr)+(mon-earliest_mon)
    return mon_id

data['modified_uid']=[month_handler(data.utc_time[i])*num_uids+data.uid[i] for i in range(len(data))]
data.head()

,uid,vid,vcid,vc_name,lat,long,timezone_offset,utc_time,big_vc_name,utc_time_value,modified_uid
0,470,49bbd6c0f964a520f4531fe3,4bf58dd8d48988d127951735,Arts & Crafts Store,40.719810,-74.002581,-240,Tue Apr 03 18:00:09 +0000 2012,"History, Museum & Arts",2012-01-03 18:00:09,470
1,979,4a43c0aef964a520c6a61fe3,4bf58dd8d48988d1df941735,Bridge,40.606800,-74.044170,-240,Tue Apr 03 18:00:25 +0000 2012,Bridge,2012-01-03 18:00:25,979
2,69,4c5cc7b485a1e21e00d35711,4bf58dd8d48988d103941735,Home (private),40.716162,-73.883070,-240,Tue Apr 03 18:02:24 +0000 2012,Residence,2012-01-03 18:02:24,69
3,395,4bc7086715a7ef3bef9878da,4bf58dd8d48988d104941735,Medical Center,40.745164,-73.982519,-240,Tue Apr 03 18:02:41 +0000 2012,Medical-Related Place,2012-01-03 18:02:41,395
4,87,4cf2c5321d18a143951b5cec,4bf58dd8d48988d1cb941735,Food Truck,40.740104,-73.989658,-240,Tue Apr 03 18:03:00 +0000 2012,Food & Snack,2012-01-03 18:03:00,87

In [38]:
assert(min(data.modified_uid)>=0)
data.iloc[[100000]]

,uid,vid,vcid,vc_name,lat,long,timezone_offset,utc_time,big_vc_name,utc_time_value,modified_uid
100000,351,4cf904c7ee0ea1439df43f97,4bf58dd8d48988d12b951735,Bus Station,40.719748,-73.94358,-240,Fri Jun 08 11:36:39 +0000 2012,Transportation,2012-01-08 11:36:39,2517

In [39]:
from datetime import timedelta
from tqdm import tqdm
import numpy as np

# # get time granularity
# user_curr_t=dict()
# gaps=[]
# min_gap=timedelta(seconds=3600)
# for i in tqdm(range(len(data))):
#     uid=data.uid[i]
#     curr_t,prev_t=data.utc_time_value[i],user_curr_t.get(uid,datetime.fromisoformat('2000-01-01'))
#     gap=curr_t-prev_t
#     if gap>timedelta(seconds=0):
#         gaps.append(gap.total_seconds())
#         if gap<min_gap: 
#             min_gap=gap
#         # if gap<timedelta(seconds=60):
#         #     print('uid:',uid)
#         #     print('curr_t:',curr_t)
#         #     print('prev_t:',prev_t)
#         user_curr_t.update({uid:curr_t})
# print('min gap:',min_gap.total_seconds())
# print('avg gap:',np.mean(gaps))

In [40]:
import matplotlib.pyplot as plt

# ratio=np.sum((np.array(gaps)<36000) & (np.array(gaps)>3600))/len(gaps)
# print(ratio)
# # gaps=[g for g in gaps if g<3600]
# # print('avg gap (<3600):',np.mean(gaps))

# plt.hist([g for g in gaps if g<3600], bins=20)
# plt.show()

In [41]:
# init_time=data.utc_time_value[0]
init_time=min(data.utc_time_value)
time_granularity=600*3
data['timestamp']=[int((t-init_time).total_seconds()/time_granularity) for t in data.utc_time_value]

In [42]:
data

,uid,vid,vcid,vc_name,lat,long,timezone_offset,utc_time,big_vc_name,utc_time_value,modified_uid,timestamp
0,470,49bbd6c0f964a520f4531fe3,4bf58dd8d48988d127951735,Arts & Crafts Store,40.719810,-74.002581,-240,Tue Apr 03 18:00:09 +0000 2012,"History, Museum & Arts",2012-01-03 18:00:09,470,132
1,979,4a43c0aef964a520c6a61fe3,4bf58dd8d48988d1df941735,Bridge,40.606800,-74.044170,-240,Tue Apr 03 18:00:25 +0000 2012,Bridge,2012-01-03 18:00:25,979,132
2,69,4c5cc7b485a1e21e00d35711,4bf58dd8d48988d103941735,Home (private),40.716162,-73.883070,-240,Tue Apr 03 18:02:24 +0000 2012,Residence,2012-01-03 18:02:24,69,132
3,395,4bc7086715a7ef3bef9878da,4bf58dd8d48988d104941735,Medical Center,40.745164,-73.982519,-240,Tue Apr 03 18:02:41 +0000 2012,Medical-Related Place,2012-01-03 18:02:41,395,132
4,87,4cf2c5321d18a143951b5cec,4bf58dd8d48988d1cb941735,Food Truck,40.740104,-73.989658,-240,Tue Apr 03 18:03:00 +0000 2012,Food & Snack,2012-01-03 18:03:00,87,132
...,...,...,...,...,...,...,...,...,...,...,...,...
227423,688,3fd66200f964a52000e71ee3,4bf58dd8d48988d1e7931735,Music Venue,40.733596,-74.003139,-300,Sat Feb 16 02:29:11 +0000 2013,"History, Museum & Arts",2012-01-16 02:29:11,11518,724
227424,560,4bca32ff0687ef3be789dbcc,4bf58dd8d48988d16c941735,Burger Joint,40.745719,-73.993720,-300,Sat Feb 16 02:31:35 +0000 2013,Restaurant,2012-01-16 02:31:35,11390,725
227425,945,50a77716e4b0b5a9492f6f56,4bf58dd8d48988d103941735,Home (private),40.854364,-73.883070,-300,Sat Feb 16 02:33:16 +0000 2013,Residence,2012-01-16 02:33:16,11775,725
227426,671,4514efe0f964a520e7391fe3,4bf58dd8d48988d11d941735,Bar,40.735981,-74.029309,-300,Sat Feb 16 02:34:31 +0000 2013,Indoor Entertainment,2012-01-16 02:34:31,11501,725
227427,942,4a1e0ca0f964a520bf7b1fe3,4bf58dd8d48988d116941735,Bar,40.726805,-73.957422,-300,Sat Feb 16 02:35:36 +0000 2013,Indoor Entertainment,2012-01-16 02:35:36,11772,725

In [44]:
data_processed=data.filter(['modified_uid','vid','big_vc_name','timestamp'])

In [45]:
data_processed.head()

   modified_uid                       vid             big_vc_name  timestamp
0           470  49bbd6c0f964a520f4531fe3  History, Museum & Arts        132
1           979  4a43c0aef964a520c6a61fe3                  Bridge        132
2            69  4c5cc7b485a1e21e00d35711               Residence        132
3           395  4bc7086715a7ef3bef9878da   Medical-Related Place        132
4            87  4cf2c5321d18a143951b5cec            Food & Snack        132

In [46]:
from tqdm import tqdm

zero_df=np.zeros((np.max(data_processed.timestamp.to_list())+1,len(big_vc_names)))
# print(zero_df.shape)
colo_nums=pd.DataFrame(data=zero_df,columns=sorted(list(big_vc_names)))
for i in tqdm(range(len(data_processed))):
    timestamp=data_processed.timestamp[i]
    colo_type=data_processed.big_vc_name[i]
    colo_nums[colo_type][timestamp]+=1

100%|██████████| 227428/227428 [02:17<00:00, 1648.71it/s]

In [47]:
colo_nums

,Miscellaneous Shop,Laundry Service,Alcoholic-Related Place,School,Recycling Facility,Hardware Store,Paper / Office Supplies Store,Transportation,Neighborhood,Convention Center,...,"Beauty, Cosmetology & Hairdressing",Travel-Related Place,Design Studio,Residence,Financial or Legal Service,Vehicle Shop,Sporting Goods Shop,Place for Sports,Photography Lab,Funeral
0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,10.0,1.0,0.0,...,4.0,0.0,0.0,7.0,0.0,1.0,0.0,9.0,0.0,2.0
1,0.0,0.0,0.0,2.0,0.0,0.0,0.0,8.0,3.0,0.0,...,1.0,0.0,0.0,13.0,1.0,0.0,0.0,5.0,0.0,2.0
2,0.0,0.0,1.0,2.0,0.0,1.0,0.0,9.0,4.0,0.0,...,0.0,0.0,0.0,6.0,0.0,0.0,0.0,6.0,0.0,4.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,1.0,0.0,...,0.0,0.0,0.0,7.0,0.0,0.0,0.0,6.0,0.0,1.0
4,1.0,0.0,2.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,...,1.0,1.0,0.0,16.0,0.0,0.0,0.0,8.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1483,2.0,1.0,2.0,3.0,0.0,0.0,0.0,15.0,1.0,0.0,...,1.0,0.0,0.0,8.0,0.0,0.0,0.0,3.0,0.0,0.0
1484,0.0,1.0,0.0,3.0,0.0,0.0,0.0,22.0,4.0,0.0,...,3.0,0.0,0.0,10.0,0.0,1.0,1.0,10.0,0.0,1.0
1485,0.0,0.0,0.0,3.0,0.0,0.0,0.0,5.0,4.0,0.0,...,1.0,0.0,0.0,9.0,0.0,1.0,0.0,2.0,0.0,1.0
1486,0.0,2.0,0.0,1.0,0.0,0.0,1.0,3.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0,0.0,2.0
1487,0.0,0.0,0.0,1.0,0.0,0.0,0.0,5.0,0.0,0.0,...,2.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,1.0

In [48]:
colo_nums_dropped=colo_nums.drop(['City','Building','Shop & Service','Photography Lab',
'Military Base','Road','Moving Target'], axis=1)
colo_nums_dropped.to_csv(path[:-4]+'_processed2.csv')

In [52]:
vc_names=list(set(data_processed.big_vc_name))
vcn2nums={n:0 for n in vc_names} # number of venues of a big venue category
for key in vcn2nums:
    vcn2nums[key]=len(set(data_processed.vid[data_processed.big_vc_name==key]))
print(vcn2nums)

{'Miscellaneous Shop': 309, 'Laundry Service': 256, 'Alcoholic-Related Place': 39, 'School': 1163, 'Recycling Facility': 3, 'Hardware Store': 127, 'Paper / Office Supplies Store': 88, 'Transportation': 2287, 'Neighborhood': 309, 'Convention Center': 64, 'Storage Facility': 6, 'Food & Snack': 3463, 'Indoor Entertainment': 4579, 'Vehicle-Related Place': 515, 'Bank': 671, 'Post Office': 189, 'Government Building': 388, 'Hotel': 345, 'Shop Related to Entertainment': 327, 'Professional & Other Places': 53, 'Bridge': 90, 'Shop & Service': 24, 'Religion & Spirituality': 408, 'Restaurant': 8283, 'Medical-Related Place': 1472, 'Road': 380, 'Outdoor Entertainment': 1822, 'Rest Area': 26, 'Building': 684, 'Factory': 21, 'History, Museum & Arts': 872, 'Store, Market & Fair': 465, 'Embassy / Consulate': 20, 'Furniture / Home Store': 124, 'Castle': 1, 'General Education Place': 187, 'Electronics': 265, 'Smoke Shop': 29, 'Moving Target': 149, 'Newsstand': 9, 'Clothing & Jewelry': 1070, 'Office': 1341, 'Military Base': 8, 'Pet-Related Place': 120, 'Place for Socializing': 231, 'City': 59, 'Beauty, Cosmetology & Hairdressing': 1110, 'Travel-Related Place': 224, 'Design Studio': 44, 'Residence': 1986, 'Financial or Legal Service': 27, 'Vehicle Shop': 362, 'Sporting Goods Shop': 105, 'Place for Sports': 1277, 'Photography Lab': 2, 'Funeral': 52}

In [57]:
# ls_vids=set()
# for i in range(len(data_processed)):
#     if data_processed.big_vc_name[i]=='Laundry Service':
#         if data_processed.vid[i] not in ls_vids:
#             ls_vids.add(data_processed.vid[i])
# print(len(ls_vids))

In [59]:
num_users={} # map from timestamp to num of users
for i in range(len(data_processed)):
    t=data_processed.timestamp[i]
    if t not in num_users: num_users[t]={data_processed.modified_uid[i],}
    else: num_users[t].add(data_processed.modified_uid[i])
for t in num_users:
    num_users[t]=len(num_users[t])
print(num_users)

{132: 241, 133: 175, 134: 195, 135: 172, 136: 187, 137: 181, 138: 218, 139: 229, 140: 261, 141: 269, 142: 267, 143: 249, 144: 251, 145: 219, 146: 202, 147: 153, 148: 136, 149: 141, 150: 129, 151: 111, 152: 113, 153: 78, 154: 85, 155: 65, 156: 38, 157: 39, 158: 33, 159: 18, 160: 24, 162: 26, 163: 28, 164: 54, 165: 95, 166: 102, 167: 151, 168: 213, 169: 222, 170: 274, 171: 256, 172: 216, 173: 175, 174: 109, 175: 104, 176: 160, 177: 188, 178: 186, 179: 179, 180: 214, 181: 189, 182: 164, 183: 147, 186: 153, 187: 179, 189: 244, 190: 274, 191: 299, 192: 269, 208: 31, 209: 39, 210: 35, 211: 52, 212: 65, 213: 104, 214: 124, 215: 204, 216: 242, 265: 220, 266: 257, 267: 223, 268: 194, 269: 156, 270: 143, 271: 145, 272: 178, 273: 205, 288: 234, 312: 183, 313: 244, 314: 278, 315: 235, 316: 218, 317: 184, 318: 186, 319: 174, 320: 215, 321: 238, 322: 234, 323: 251, 324: 239, 325: 218, 326: 236, 327: 205, 328: 205, 329: 196, 330: 185, 331: 205, 332: 237, 333: 250, 334: 198, 335: 218, 336: 236, 337: 211, 338: 190, 339: 129, 340: 139, 341: 133, 342: 109, 343: 94, 344: 85, 345: 77, 346: 75, 347: 54, 348: 56, 349: 49, 350: 37, 351: 42, 352: 26, 353: 38, 354: 18, 355: 33, 356: 34, 357: 66, 358: 136, 359: 164, 360: 178, 361: 228, 362: 252, 363: 202, 364: 194, 365: 131, 366: 150, 367: 161, 368: 210, 369: 176, 370: 235, 371: 229, 372: 237, 373: 215, 374: 206, 375: 241, 376: 201, 377: 200, 378: 213, 379: 236, 380: 216, 381: 233, 382: 213, 383: 216, 406: 127, 407: 177, 408: 266, 409: 254, 410: 304, 411: 272, 412: 240, 413: 210, 414: 189, 415: 195, 416: 201, 417: 235, 418: 335, 419: 317, 420: 289, 421: 198, 422: 206, 423: 186, 424: 183, 425: 191, 426: 205, 427: 221, 428: 287, 429: 320, 430: 350, 431: 331, 432: 302, 433: 267, 434: 181, 435: 142, 436: 111, 437: 101, 438: 88, 439: 97, 440: 84, 441: 73, 442: 63, 443: 33, 444: 43, 445: 38, 446: 25, 447: 19, 448: 29, 449: 22, 450: 30, 451: 34, 452: 36, 453: 50, 454: 51, 455: 71, 457: 88, 459: 117, 461: 69, 462: 117, 463: 100, 464: 129, 465: 202, 466: 195, 467: 215, 468: 220, 469: 154, 473: 158, 474: 230, 475: 265, 476: 299, 477: 346, 478: 321, 479: 298, 480: 297, 481: 284, 482: 245, 483: 232, 484: 188, 485: 205, 486: 163, 487: 144, 488: 126, 489: 129, 490: 104, 491: 80, 492: 91, 493: 64, 494: 48, 495: 45, 496: 30, 497: 49, 498: 49, 499: 79, 500: 63, 501: 108, 502: 127, 506: 286, 507: 277, 508: 233, 509: 208, 510: 194, 511: 183, 512: 237, 513: 256, 514: 295, 515: 284, 516: 275, 517: 244, 518: 244, 519: 231, 520: 207, 521: 195, 523: 235, 524: 348, 525: 361, 526: 408, 527: 363, 528: 328, 529: 332, 530: 298, 531: 249, 532: 235, 533: 187, 534: 158, 535: 182, 536: 155, 537: 127, 538: 98, 539: 92, 540: 70, 541: 77, 542: 53, 543: 43, 544: 46, 545: 35, 546: 42, 547: 56, 548: 51, 549: 107, 550: 142, 551: 204, 552: 254, 553: 290, 554: 281, 555: 289, 556: 246, 562: 290, 563: 334, 564: 322, 565: 284, 566: 287, 567: 267, 568: 247, 569: 237, 570: 251, 571: 314, 572: 314, 573: 349, 574: 345, 575: 348, 576: 364, 577: 329, 578: 273, 579: 230, 580: 242, 581: 218, 582: 170, 583: 174, 584: 163, 585: 150, 586: 132, 587: 98, 588: 82, 589: 72, 590: 57, 591: 51, 592: 58, 593: 39, 594: 48, 595: 58, 596: 77, 597: 107, 598: 142, 599: 182, 600: 262, 601: 281, 602: 310, 603: 274, 604: 278, 605: 212, 606: 206, 607: 193, 608: 209, 609: 272, 610: 316, 611: 250, 612: 222, 613: 218, 614: 234, 615: 191, 616: 152, 617: 162, 618: 219, 619: 242, 620: 241, 621: 309, 622: 292, 623: 305, 624: 239, 625: 218, 626: 225, 627: 208, 628: 167, 629: 154, 630: 144, 631: 159, 632: 117, 633: 104, 634: 88, 635: 86, 636: 71, 637: 45, 644: 57, 645: 98, 646: 129, 647: 155, 648: 189, 649: 221, 650: 217, 651: 170, 652: 171, 653: 135, 654: 130, 655: 135, 656: 172, 657: 209, 658: 171, 659: 197, 660: 200, 661: 167, 662: 171, 663: 149, 664: 151, 665: 168, 666: 205, 667: 191, 668: 216, 669: 236, 670: 223, 671: 210, 672: 228, 673: 176, 674: 166, 675: 128, 676: 144, 677: 122, 678: 110, 679: 119, 680: 125, 681: 94, 682: 90, 683: 52, 689: 26, 690: 25, 691: 50, 692: 48, 693: 64, 694: 84, 695: 110, 696: 179, 697: 175, 698: 195, 699: 204, 700: 201, 701: 133, 702: 118, 703: 151, 704: 156, 705: 168, 706: 165, 707: 177, 708: 219, 709: 222, 710: 211, 711: 202, 712: 202, 713: 189, 714: 195, 715: 220, 716: 233, 717: 198, 736: 27, 737: 31, 738: 29, 739: 49, 740: 58, 741: 88, 742: 102, 743: 172, 744: 202, 745: 224, 746: 228, 747: 208, 748: 155, 749: 146, 750: 132, 751: 145, 752: 195, 753: 193, 754: 232, 755: 250, 756: 236, 757: 202, 758: 182, 759: 249, 760: 195, 761: 183, 762: 257, 763: 257, 764: 249, 785: 19, 786: 40, 787: 39, 788: 71, 789: 101, 790: 148, 791: 189, 792: 222, 793: 287, 794: 270, 795: 244, 796: 229, 797: 206, 798: 169, 799: 168, 800: 230, 801: 244, 802: 256, 803: 262, 804: 259, 805: 259, 806: 198, 807: 220, 808: 167, 809: 240, 810: 219, 811: 247, 812: 291, 813: 305, 814: 382, 815: 250, 816: 251, 817: 211, 818: 161, 819: 150, 820: 140, 821: 124, 822: 85, 841: 267, 842: 294, 843: 250, 844: 253, 845: 236, 846: 196, 847: 170, 848: 220, 849: 197, 850: 204, 851: 194, 852: 205, 853: 169, 854: 176, 855: 160, 856: 203, 857: 181, 858: 196, 859: 203, 860: 262, 861: 267, 862: 283, 863: 272, 864: 235, 865: 211, 866: 171, 867: 147, 868: 134, 869: 114, 870: 112, 871: 111, 872: 96, 873: 66, 874: 41, 875: 28, 876: 28, 877: 26, 878: 17, 879: 18, 880: 24, 881: 14, 882: 25, 883: 36, 884: 44, 885: 68, 886: 50, 887: 89, 888: 116, 889: 172, 890: 161, 891: 137, 892: 163, 893: 131, 894: 154, 900: 188, 901: 172, 902: 180, 903: 154, 904: 168, 905: 166, 906: 163, 907: 151, 908: 177, 909: 142, 910: 135, 911: 139, 912: 138, 913: 128, 914: 104, 915: 105, 916: 86, 917: 65, 918: 63, 919: 54, 920: 71, 921: 54, 922: 36, 923: 26, 924: 26, 925: 20, 926: 12, 927: 9, 928: 17, 929: 12, 930: 12, 931: 21, 932: 33, 933: 45, 934: 74, 935: 81, 936: 121, 937: 112, 938: 164, 939: 141, 940: 129, 941: 96, 942: 69, 943: 55, 944: 62, 945: 62, 946: 79, 947: 76, 948: 78, 949: 61, 950: 50, 951: 87, 952: 76, 953: 96, 954: 123, 955: 89, 959: 148, 960: 206, 961: 181, 962: 159, 963: 141, 964: 96, 965: 84, 966: 67, 967: 76, 968: 68, 969: 57, 970: 48, 971: 32, 972: 37, 973: 34, 974: 16, 975: 19, 976: 22, 977: 17, 978: 31, 979: 43, 980: 59, 981: 71, 982: 89, 983: 109, 984: 160, 985: 183, 986: 200, 987: 173, 988: 166, 989: 140, 990: 135, 991: 105, 992: 86, 993: 108, 994: 133, 995: 107, 996: 134, 997: 164, 998: 144, 999: 123, 1000: 124, 1001: 88, 1006: 180, 1007: 202, 1008: 186, 1009: 174, 1010: 151, 1011: 132, 1012: 102, 1013: 93, 1014: 110, 1015: 105, 1016: 75, 1017: 71, 1018: 63, 1019: 60, 1020: 49, 1021: 44, 1022: 37, 1023: 38, 1024: 34, 1025: 24, 1026: 32, 1027: 32, 1028: 35, 1029: 72, 1030: 81, 1031: 123, 1032: 144, 1033: 159, 1034: 169, 1035: 176, 1036: 150, 1037: 128, 1038: 130, 1039: 134, 1040: 140, 1041: 112, 1042: 112, 1043: 78, 1044: 79, 1045: 73, 1046: 54, 1047: 70, 1048: 81, 1049: 90, 1050: 76, 1051: 75, 1052: 88, 1053: 92, 1054: 93, 1055: 101, 1056: 75, 1057: 93, 1058: 54, 1059: 64, 1060: 57, 1061: 57, 1062: 53, 1063: 65, 1064: 44, 1065: 40, 1066: 30, 1067: 26, 1068: 37, 1069: 26, 1070: 8, 1071: 24, 1072: 22, 1073: 17, 1074: 17, 1075: 31, 1076: 30, 1077: 52, 1078: 54, 1079: 87, 1080: 110, 1081: 94, 1082: 126, 1083: 82, 1084: 63, 1085: 58, 1086: 57, 1087: 92, 1088: 136, 1089: 138, 1090: 157, 1091: 127, 1092: 132, 1093: 135, 1094: 127, 1095: 100, 1096: 96, 1097: 115, 1098: 126, 1099: 154, 1100: 175, 1101: 181, 1102: 158, 1103: 168, 1104: 132, 1105: 128, 1106: 117, 1107: 93, 1108: 81, 1109: 84, 1110: 83, 1111: 75, 1112: 73, 1113: 41, 1114: 40, 1115: 33, 1116: 21, 1117: 31, 1118: 31, 1119: 10, 1120: 16, 1121: 19, 1122: 20, 1123: 44, 1124: 52, 1125: 61, 1126: 75, 1127: 111, 1128: 125, 1129: 160, 1130: 131, 1131: 123, 1132: 95, 1133: 60, 1134: 76, 1135: 92, 1136: 106, 1137: 121, 1138: 108, 1139: 128, 1140: 112, 1141: 134, 1142: 112, 1143: 81, 1144: 112, 1145: 100, 1146: 95, 1147: 77, 1148: 143, 1149: 108, 1150: 158, 1151: 135, 1152: 94, 1173: 87, 1174: 98, 1175: 163, 1176: 162, 1177: 177, 1178: 148, 1179: 144, 1180: 132, 1181: 106, 1182: 104, 1183: 100, 1184: 131, 1185: 136, 1186: 142, 1187: 156, 1188: 162, 1189: 140, 1190: 125, 1191: 132, 1192: 136, 1193: 123, 1194: 130, 1195: 138, 1196: 183, 1197: 210, 1198: 193, 1199: 201, 1200: 178, 1201: 169, 1202: 141, 1203: 120, 1204: 120, 1205: 117, 1206: 92, 1207: 95, 1208: 102, 1209: 80, 1210: 62, 1211: 58, 1212: 46, 1213: 37, 1214: 23, 1215: 21, 1216: 24, 1217: 24, 1218: 32, 1219: 22, 1220: 37, 1221: 51, 1222: 61, 1223: 79, 1224: 94, 1225: 119, 1226: 139, 1227: 124, 1228: 104, 1229: 119, 1230: 110, 1267: 30, 1268: 49, 1269: 57, 1270: 73, 1271: 114, 1272: 142, 1273: 177, 1274: 182, 1275: 156, 1276: 169, 1277: 142, 1278: 128, 1279: 137, 1280: 160, 1281: 157, 1282: 209, 1283: 206, 1284: 176, 1285: 159, 1286: 152, 1287: 158, 1288: 146, 1289: 136, 1290: 167, 1291: 175, 1292: 182, 1293: 173, 1294: 206, 1295: 214, 1296: 212, 1297: 195, 1298: 182, 1299: 167, 1300: 135, 1301: 140, 1302: 130, 1303: 139, 1304: 91, 1305: 93, 1306: 80, 1307: 80, 1308: 50, 1309: 57, 1310: 48, 1311: 38, 1312: 36, 1313: 31, 1314: 27, 1315: 26, 1316: 36, 1317: 44, 1318: 50, 1319: 56, 1320: 82, 1321: 88, 1322: 128, 1323: 152, 1324: 157, 1325: 152, 1326: 145, 1327: 162, 1328: 144, 1329: 167, 1330: 165, 1331: 190, 1332: 209, 1333: 208, 1334: 181, 1335: 196, 1336: 161, 1337: 179, 1338: 161, 1339: 170, 1340: 182, 1341: 199, 1342: 187, 1343: 183, 1344: 185, 1345: 210, 1346: 156, 1347: 151, 1348: 130, 1349: 109, 1350: 134, 1351: 124, 1352: 98, 1353: 98, 1354: 70, 1355: 61, 1356: 57, 1357: 48, 1358: 39, 1359: 29, 1360: 30, 1361: 21, 1362: 21, 1363: 26, 1364: 36, 1365: 42, 1366: 70, 1367: 81, 1368: 112, 1369: 119, 1370: 132, 1371: 110, 1372: 126, 1373: 110, 1374: 106, 1375: 127, 1376: 130, 1377: 133, 1378: 152, 1379: 165, 1380: 185, 1381: 156, 1382: 145, 1383: 158, 1384: 160, 1385: 154, 1386: 131, 31: 66, 32: 108, 33: 119, 34: 161, 35: 153, 36: 174, 37: 160, 38: 149, 39: 95, 40: 104, 41: 118, 42: 99, 43: 151, 44: 141, 45: 138, 46: 132, 47: 149, 48: 136, 49: 116, 50: 113, 51: 102, 52: 78, 53: 80, 54: 71, 55: 64, 56: 53, 57: 50, 58: 59, 59: 46, 60: 35, 61: 29, 62: 26, 63: 31, 64: 26, 65: 28, 66: 23, 67: 26, 68: 34, 69: 48, 70: 76, 71: 106, 72: 86, 91: 135, 113: 22, 114: 30, 115: 22, 116: 38, 117: 60, 118: 83, 119: 103, 120: 140, 121: 150, 122: 186, 123: 160, 124: 145, 125: 138, 126: 137, 127: 148, 128: 174, 129: 197, 130: 220, 131: 222, 161: 24, 184: 135, 185: 117, 188: 177, 193: 174, 194: 179, 195: 162, 196: 130, 197: 121, 198: 112, 199: 96, 200: 127, 201: 69, 202: 55, 203: 64, 204: 41, 205: 48, 206: 46, 207: 29, 217: 257, 218: 260, 219: 246, 220: 208, 221: 189, 222: 162, 223: 163, 224: 168, 225: 211, 226: 193, 227: 194, 228: 201, 229: 165, 230: 182, 231: 180, 232: 145, 233: 146, 234: 176, 235: 196, 236: 199, 237: 204, 238: 209, 239: 258, 240: 229, 241: 205, 274: 184, 275: 176, 276: 201, 277: 203, 278: 171, 279: 156, 280: 150, 281: 163, 282: 157, 283: 160, 284: 216, 285: 245, 286: 214, 287: 229, 289: 215, 290: 200, 291: 173, 292: 136, 293: 145, 294: 107, 295: 110, 296: 106, 297: 89, 298: 81, 299: 67, 300: 56, 301: 41, 302: 39, 303: 39, 304: 31, 305: 32, 306: 28, 307: 52, 308: 40, 309: 77, 310: 109, 311: 146, 384: 174, 385: 170, 386: 181, 387: 131, 388: 118, 389: 133, 390: 93, 391: 87, 392: 67, 393: 71, 394: 89, 395: 51, 396: 39, 397: 34, 398: 34, 399: 41, 400: 29, 401: 24, 402: 32, 403: 46, 404: 45, 405: 77, 471: 164, 472: 183, 503: 155, 504: 205, 505: 235, 522: 170, 557: 163, 558: 146, 559: 122, 561: 165, 638: 38, 639: 19, 640: 27, 641: 20, 642: 28, 643: 55, 684: 40, 685: 26, 686: 34, 687: 22, 688: 26, 718: 178, 719: 208, 720: 171, 721: 176, 722: 152, 723: 137, 724: 138, 725: 89, 726: 102, 727: 80, 728: 74, 729: 56, 730: 44, 731: 39, 732: 32, 733: 29, 734: 23, 735: 24, 765: 243, 766: 244, 767: 275, 768: 237, 769: 219, 770: 175, 771: 177, 772: 177, 773: 143, 774: 131, 775: 125, 776: 82, 777: 86, 778: 69, 779: 71, 780: 53, 781: 36, 782: 31, 783: 29, 784: 24, 838: 83, 839: 117, 840: 158, 895: 98, 896: 107, 897: 128, 898: 141, 899: 129, 1002: 112, 1003: 98, 1004: 151, 1005: 154, 1169: 11, 1170: 16, 1171: 33, 1172: 50, 1245: 178, 1246: 216, 1247: 201, 1248: 175, 1249: 141, 1250: 134, 1251: 130, 1252: 126, 1253: 91, 1254: 97, 1255: 89, 1256: 85, 1257: 80, 1258: 64, 1259: 53, 1260: 44, 1261: 48, 1262: 34, 1263: 30, 1264: 18, 1265: 22, 1266: 27, 1387: 115, 1388: 103, 1389: 133, 1390: 124, 1391: 115, 1392: 97, 1393: 105, 1394: 77, 1395: 64, 1396: 71, 1397: 68, 1398: 50, 1399: 51, 1400: 37, 1401: 34, 1402: 37, 1403: 27, 1404: 25, 1405: 19, 1406: 15, 1407: 11, 1408: 17, 1409: 12, 1466: 98, 1467: 75, 1468: 72, 1469: 77, 1470: 62, 1471: 65, 1472: 80, 1473: 75, 1474: 80, 1475: 98, 1476: 85, 1477: 96, 1478: 95, 1479: 87, 1480: 67, 1481: 82, 1482: 90, 1483: 93, 1484: 104, 1485: 69, 17: 27, 18: 26, 19: 32, 20: 35, 21: 44, 22: 55, 23: 65, 24: 94, 25: 99, 26: 116, 27: 103, 28: 106, 29: 92, 30: 78, 90: 117, 92: 140, 93: 148, 94: 164, 95: 147, 96: 148, 97: 155, 98: 133, 99: 119, 100: 109, 101: 91, 102: 83, 103: 91, 104: 87, 105: 64, 106: 57, 107: 46, 108: 37, 109: 33, 110: 28, 111: 26, 112: 24, 256: 26, 257: 30, 258: 29, 259: 44, 260: 49, 261: 81, 262: 91, 263: 143, 264: 167, 456: 42, 458: 75, 460: 85, 470: 135, 560: 131, 823: 72, 824: 61, 825: 60, 826: 48, 827: 39, 828: 37, 829: 45, 830: 29, 831: 13, 832: 25, 833: 19, 834: 19, 835: 26, 836: 33, 837: 50, 956: 77, 957: 112, 958: 140, 1231: 58, 1232: 73, 1233: 78, 1234: 104, 1235: 94, 1236: 93, 1237: 86, 1238: 85, 1239: 77, 1240: 53, 1242: 68, 1430: 87, 1431: 131, 1432: 110, 1433: 109, 1434: 101, 1435: 100, 1436: 129, 1437: 107, 1438: 111, 1439: 107, 0: 104, 1: 123, 2: 94, 4: 123, 5: 95, 6: 92, 7: 88, 8: 85, 9: 79, 10: 62, 11: 59, 12: 48, 73: 95, 74: 105, 75: 83, 76: 91, 77: 58, 78: 68, 79: 61, 80: 81, 81: 86, 82: 103, 83: 85, 84: 100, 85: 75, 86: 77, 87: 67, 88: 86, 89: 71, 242: 127, 243: 128, 244: 113, 245: 80, 246: 78, 247: 87, 248: 72, 249: 70, 250: 53, 251: 51, 252: 34, 253: 30, 254: 23, 255: 21, 1241: 59, 1243: 105, 1244: 94, 1410: 12, 1411: 14, 1412: 12, 1413: 27, 1414: 34, 1415: 51, 1416: 65, 1417: 62, 1418: 89, 1419: 52, 1420: 77, 1421: 74, 1422: 51, 1423: 45, 1424: 58, 1425: 82, 1426: 87, 1427: 78, 1428: 72, 1429: 87, 1153: 59, 1154: 52, 1155: 60, 1156: 42, 1157: 33, 1158: 36, 1159: 39, 1160: 39, 1161: 24, 1162: 29, 1163: 24, 1164: 23, 1165: 14, 1166: 16, 1167: 22, 1168: 11, 1440: 40, 1441: 54, 1442: 46, 1443: 31, 1444: 36, 1445: 39, 1446: 29, 1447: 31, 1448: 27, 1449: 16, 1450: 25, 1451: 16, 1452: 14, 1453: 12, 1454: 6, 1455: 12, 1456: 8, 1457: 6, 1458: 7, 1460: 13, 1461: 8, 1462: 18, 1463: 15, 1464: 31, 1465: 32, 1486: 54, 1487: 54, 3: 73, 13: 31, 14: 26, 15: 23, 16: 15, 1459: 10}

In [60]:
# 138: 218
# uids_138=set()
# for i in range(len(data_processed)):
#     if data_processed.timestamp[i]==138:
#         uids_138.add(data_processed.modified_uid[i])
# print(len(uids_138))

218

In [66]:
zero_df=np.zeros((np.max(data_processed.timestamp.to_list())+1,len(big_vc_names)))
# print(zero_df.shape)
modified_pis=pd.DataFrame(data=zero_df,columns=sorted(list(big_vc_names)))
colo_patt_info={bvcn:{'unique_uids':set(),'unique_vids':set()} for bvcn in set(data_processed.big_vc_name)}
data_processed=data_processed.sort_values('timestamp')
curr_t=data_processed.timestamp[0]

for i in tqdm(range(len(data_processed))):
    t=data_processed.timestamp[i]    
    colo_type=data_processed.big_vc_name[i]
    m_uid=data_processed.modified_uid[i]
    vid=data_processed.vid[i]
    
    if curr_t<t:
        for bvcn in big_vc_names:
            modified_pis[bvcn][curr_t]=max(
                len(colo_patt_info[bvcn]['unique_vids'])/vcn2nums[bvcn],
                len(colo_patt_info[bvcn]['unique_uids'])/num_users[curr_t]
            )
        colo_patt_info={bvcn:{'unique_uids':set(),'unique_vids':set()} for bvcn in set(data_processed.big_vc_name)}
        curr_t=t

    colo_patt_info[colo_type]['unique_uids'].add(m_uid)
    colo_patt_info[colo_type]['unique_vids'].add(vid)

modified_pis.head()

100%|██████████| 227428/227428 [00:39<00:00, 5697.35it/s]

,Alcoholic-Related Place,Bank,"Beauty, Cosmetology & Hairdressing",Bridge,Building,Castle,City,Clothing & Jewelry,Convention Center,Design Studio,...,Shop & Service,Shop Related to Entertainment,Smoke Shop,Sporting Goods Shop,Storage Facility,"Store, Market & Fair",Transportation,Travel-Related Place,Vehicle Shop,Vehicle-Related Place
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [67]:
modified_pi_dropped=modified_pis.drop(['City','Building','Shop & Service','Photography Lab',
'Military Base','Road','Moving Target'], axis=1)
modified_pi_dropped.to_csv(path[:-4]+'_mpi.csv')

In [71]:
# 886, restaurant, 0.02

uids_886_res=set()
vids_886_res=set()
for i in range(len(data_processed)):
    if data_processed.timestamp[i]!=886: continue
    if data_processed.big_vc_name[i]!='Restaurant': continue
    uids_886_res.add(data_processed.modified_uid[i])
    vids_886_res.add(data_processed.vid[i])

num_uniq_uids=len(uids_886_res)
num_uniq_vids=len(vids_886_res)

all_uids=set()
all_vids=set()
for i in range(len(data_processed)):
    if data_processed.timestamp[i]==886: all_uids.add(data_processed.modified_uid[i])
    if data_processed.big_vc_name[i]=='Restaurant': all_vids.add(data_processed.vid[i])
print(num_uniq_uids,num_uniq_vids,len(all_uids),len(all_vids))

2 2 50 8283